* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f1f2f8;
}

.Amain,
.D-main {
  display: flex;
  position: relative;
}

.AsideMenu {
  width: 500px;
  height: 100vh;
  background-repeat: no-repeat;
  position: sticky;
}

.Alogin {
  height: 80px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.Awelcome {
  display: flex;
  justify-content: center;
}

.Aappointments h1 {
  font-weight: bold;
}
.AwelcomeImage {
  height: 220px;
  width: 100%;
  background-image: url(../Assets/titlebar.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  filter: grayscale(100%);
  opacity: 0.9;
  border-radius: 0px 0px 10px 10px;
}

.Awelcome {
  width: 100%;
  position: relative;
  border-radius: 0px 0px 10px 10px;
}

.AmessageHead {
  margin-top: 10px;
}

.AwelcomeMessage {
  margin-top: 20px;
  height: 220px;
  width: 100%;
  backdrop-filter: blur(1px);
  box-shadow: -2px -2px 10px 0px #ffffff85 inset;
  box-shadow: 0px -2px 10px 0px #00000026 inset;
  background: rgba(0, 0, 0, 0A108);
  height: 190px;
  position: absolute;
  object-fit: cover;
  padding: 20px 30px;
  border-radius: 0px 0px 10px 10px;
}

.AmessageBody,
.AmessageHead {
  margin-top: 120px;
  color: white;
  z-index: 2;
}

.AmessageHead {
  margin-top: -20px;
  font-size: 24px;
  font-weight: 700;
}

.AmessageBody {
  margin-top: -15px;
  font-size: 16px;
  font-weight: 500px;
}
/* Appointments Component */

.Aappointments {
  padding: 30px 50px 0px 50px;
  width: 100%;
}

.Aschedule {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Aappointments .AnoAppoinments {
  width: 100%;
  text-align: center;
  padding: 200px;
}

.Aappointments .Alogin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.Aappointments .Alogin .D-login-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#bellIcon {
  width: 25px;
  height: 30px;
  margin: 50px;
}

.Aappointments .Alogin .D-login-info .D-profile {
  margin: 20px;
  transform: scale(1.1);
}
.Aappointments .Alogin .D-login-info .D-profile .D-profile-info p,
.bottom .D-profile p {
  padding: 0;
  margin: 0px 10px 0px;
}

.Aappointments .Alogin .D-login-info .D-profile .D-profile-info p:nth-child(1),
.bottom .D-profile p:nth-child(1) {
  font-size: 20px;
  font-weight: 800;
}

.Aappointments .Alogin .D-login-info .D-profile .D-profile-info p:nth-child(2),
.bottom .D-profile p:nth-child(2) {
  font-size: 13.5px;
  font-weight: 700;
}

.Aappointments .Alogin .D-login-info .D-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom .D-profile {
  display: flex;
  margin-left: 20px;
}

.bottom .D-profile p {
  color: white;
  font-weight: 500;
}

.AsideMenu .AsideMenu-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Aappointments .Alogin .D-login-info img,
.bottom .D-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Aappointments h1 {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  font-size: 40px;
  margin-top: 20px;
  padding: 20px 34px;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.Aappointments .AsaButton {
  cursor: pointer;
  margin: 27px 0px 30px 0px;
  border: none;
  font-size: 26px;
  font-weight: 700;
  padding: 12px 45px;
  border-radius: 30px;
  background-color: white;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.Aappointments .AsaButton:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.Atable {
  overflow: auto;
  height: 350px;
  width: 100%;
  border-radius: 10px;
}

.Atable::-webkit-scrollbar {
  display: none;
}

.Amain table {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  background-image: linear-gradient(to Right, rgb(22, 22, 22) 50%, rgba(95, 95, 95, 0.363));
}

.Amain table th,
.Amain table td {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  color: white;
  font-size: 23px;
  vertical-align: middle;
}

.Amain table th {
  font-size: 25px;
}

.Amain table .Ahead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to Right, rgba(15, 15, 15, 0.807), rgba(135, 135, 135, 0.363) 85%);
}

.Aappointments .AdlButton button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.Aappointments .AdlButton button {
  font-weight: 500;
  transition: ease 150ms;
  font-size: 23px;
  border-radius: 50px;
  color: white;
  border: none;
  padding: 4px 20px;
  background-color: #ea232399;
}

.Aappointments .AdlButton button:active,
.Aappointments .AdlButton button:focus {
  outline: none;
}

.Aappointments .AdlButton button:active {
  box-shadow: -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

/* Schedule Appoinment Component */

.Aappointments form {
  transform: scale(0.9);
}

.Aappointments form p {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin: 0px 0px 10px 0px;
}

.AsaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: c;
}

.Ainfo {
  width: 200px;
  height: 200px;
  background-image: url(../Assets/Announcement.svg);
  background-repeat: no-repeat;
  background-size: 200px;
}

#infop {
  width: 430px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
}

.Aappointments form {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 40px 54px;
}

.Amain form input {
  background-image: url(../Assets/calender.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 40px;
}

.Amain form select:first-child {
  background-image: url(../Assets/clock.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 35px;
}

.Amain form select {
  background-image: url(../Assets/location.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 35px;
}

.Amain form select,
.Amain form input {
  cursor: pointer;
  appearance: none;
  width: 500px;
  margin: 5px 0px;
  padding: 12px 12px 12px 0px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 24px;
  color: white;
  font-weight: 500;
  border-bottom: 1px solid black;
  transition: all 15000ms ease;
  line-height: 30px;
}

.Amain .Atime {
  width: 65%;
  font-size: 30px;
  transform: scale(1.6);
}

.Amain .ant-select {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  border: none;
}

.ant-select-selection-search-input {
  font-size: white;
}

.Amain form select:focus,
.Amain form input:focus {
  outline: none;
}

.Amain form select option {
  color: black;
  border: 1px solid black;
}

.Amain form input::placeholder {
  color: rgb(255, 255, 255);
}

.Amain form .Atitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  margin-bottom: 10px;
}

.AsaSubmit {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.404);
  font-size: 24px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  width: 194px;
  height: 54px;
  margin-top: 30px;
  border-radius: 30px;
  filter: blur(0px);
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20000000px);
}

.change-color {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.11);
  font-size: 24px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  width: 194px;
  height: 54px;
  margin-top: 30px;
  border-radius: 30px;
  filter: blur(0px);
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

/* navigation bar*/

.AsideMenu .AsideMenu-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-image: url(../Assets/SideBar.jpg);
  background-repeat: no-repeat;
  border-radius: 0px 30px 30px 0px;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.AsideMenu .AsideMenu-menu {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px 30px 30px 0px;
  position: absolute;
  padding: 10px;
  backdrop-filter: blur(5px);
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.AsideMenu .AsideMenu-menu .Atop .Alogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AsideMenu .AsideMenu-menu .Atop .Amenu {
  margin-top: -50px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 140px;
}

.AsideMenu .AsideMenu-menu .Atop .Amenu img {
  margin: 40px;
  padding: 20px;
  width: 80px;
  height: 80px;
}

.AsideMenu .AsideMenu-menu .Atop .Amenu img:hover {
  background-color: #f1f2f83a;
  border-radius: 50%;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.4);
}

.AsideMenu .AsideMenu-menu .Atop .Amenu img:active {
  background-color: #f1f2f83a;
  border-radius: 50%;
  box-shadow: -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.4);
}

.AsideMenu .AsideMenu-menu .Atop .Amenu {
  display: flex;
  justify-content: flex-end;
}
a {
  text-decoration: none;
}

.AsideMenu .AsideMenu-menu .Atop .Abox:hover {
  background-color: #f1f2f83a;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.4);
}

.AsideMenu .AsideMenu-menu .Atop .Abox:active {
  box-shadow: -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}

.AsideMenu .AsideMenu-menu .Atop .Abox {
  cursor: pointer;
  margin: 0px 10px;
  align-items: center;
  vertical-align: center;
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
}

.AsideMenu .AsideMenu-menu .Atop .Abox-one {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);

  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  border-radius: 4px;
}

.AsideMenu .AsideMenu-menu .Atop .Abox-three {
  border-bottom: 1.2px solid rgb(255, 255, 255);
}
.AsideMenu .AsideMenu-menu .Atop .Abox img {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}
.AsideMenu .AsideMenu-menu .Atop .Abox p {
  margin-bottom: 0;
  font-size: 27px;
  font-weight: 600;
  color: white;
}
.AsideMenu .AsideMenu-menu .Atop .Alogo img {
  width: 200px;
  height: 100px;
  object-fit: cover;
}
