* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f1f2f8;
}

.Amain,
.D-main {
  display: flex;
  position: relative;
}

.AsideMenu {
  width: 500px;
  height: 100vh;
  background-repeat: no-repeat;
  position: sticky;
}

/* Appointments Component */

.Aappointments {
  padding: 30px 50px 0px 50px;
  width: 100%;
}

.Aschedule {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.AnoAppoinments {
  width: 100%;
  text-align: center;
  padding: 200px;
}

.Aappointments h1 {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  font-size: 40px;
  margin-top: 20px;
  padding: 20px 34px;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.Aappointments .AsaButton {
  cursor: pointer;
  margin: 27px 0px 30px 0px;
  border: none;
  font-size: 26px;
  font-weight: 700;
  padding: 12px 45px;
  border-radius: 30px;
  background-color: white;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.Aappointments .AsaButton:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.Atable {
  overflow: auto;
  height: 350px;
  width: 100%;
  border-radius: 10px;
}

.Atable::-webkit-scrollbar {
  display: none;
}

.Amain table {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  background-image: linear-gradient(to Right, rgb(22, 22, 22) 50%, rgba(95, 95, 95, 0.363));
}

.Amain table th,
.Amain table td {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  color: white;
  font-size: 23px;
  vertical-align: middle;
}

.Amain table th {
  font-size: 25px;
}

.Amain table .Ahead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to Right, rgba(15, 15, 15, 0.807), rgba(135, 135, 135, 0.363) 85%);
}

.Aappointments .AdlButton button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.Aappointments .AdlButton button {
  font-weight: 500;
  transition: ease 150ms;
  font-size: 23px;
  border-radius: 50px;
  color: white;
  border: none;
  padding: 4px 20px;
  background-color: #ea232399;
}

.Aappointments .AdlButton button:active,
.Aappointments .AdlButton button:focus {
  outline: none;
}

.Aappointments .AdlButton button:active {
  box-shadow: -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

/* Schedule Appoinment Component */

.Aappointments form {
  transform: scale(0.9);
}

.Aappointments form p {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin: 0px 0px 10px 0px;
}

.AsaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: c;
}

.Ainfo {
  width: 200px;
  height: 200px;
  background-image: url(../Assets/Announcement.svg);
  background-repeat: no-repeat;
  background-size: 200px;
}

#infop {
  width: 430px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
}

.Aappointments form {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 40px 54px;
}

.Amain form input {
  background-image: url(../Assets/calender.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 40px;
}

.Amain form select:first-child {
  background-image: url(../Assets/clock.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 35px;
}

.Amain form select {
  background-image: url(../Assets/location.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 35px;
}

.Amain form select,
.Amain form input {
  cursor: pointer;
  appearance: none;
  width: 500px;
  margin: 5px 0px;
  padding: 12px 12px 12px 0px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 24px;
  color: white;
  font-weight: 500;
  border-bottom: 1px solid black;
  transition: all 15000ms ease;
  line-height: 30px;
}

.Amain .Atime {
  width: 65%;
  font-size: 30px;
  transform: scale(1.6);
}

.Amain .ant-select {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  border: none;
}

.ant-select-selection-search-input {
  font-size: white;
}

.Amain form select:focus,
.Amain form input:focus {
  outline: none;
}

.Amain form select option {
  color: black;
  border: 1px solid black;
}

.Amain form input::placeholder {
  color: rgb(255, 255, 255);
}

.Amain form .Atitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  margin-bottom: 10px;
}

.AsaSubmit {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.404);
  font-size: 24px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  width: 194px;
  height: 54px;
  margin-top: 30px;
  border-radius: 30px;
  filter: blur(0px);
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20000000px);
}

.change-color {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.11);
  font-size: 24px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  width: 194px;
  height: 54px;
  margin-top: 30px;
  border-radius: 30px;
  filter: blur(0px);
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}
