* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f1f2f8;
}

.main {
  display: flex;
  position: relative;
}

.sideMenu {
  width: 500px;
  height: 110vh;
  background-color: black;
  background-repeat: no-repeat;
  position: sticky;
}

.login {
  height: 70px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.main .welcome {
  display: flex;
  justify-content: center;
}

.main .welcomeImage {
  height: 210px;
  width: 100%;
  background-image: url(./Assets/titlebar.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  filter: grayscale(100%);
  opacity: 0.9;
  border-radius: 0px 0px 10px 10px;
}

.main .welcome {
  width: 100%;
  position: relative;
  border-radius: 0px 0px 10px 10px;
}

.main .welcomeMessage {
  width: 100%;
  backdrop-filter: blur(1px);
  box-shadow: -2px -2px 10px 0px #ffffff85 inset;
  box-shadow: 0px -2px 10px 0px #00000026 inset;
  background: rgba(0, 0, 0, 0.108);
  height: 210px;
  position: absolute;
  top: 0;
  object-fit: cover;
  padding: 30px;
  border-radius: 0px 0px 10px 10px;
}

.messageBody,
.messageHead {
  color: white;
  z-index: 2;
}

.messageHead {
  margin-top: -20px;
  font-size: 24px;
  font-weight: 700;
}

.messageBody {
  font-size: 20px;
  font-weight: 500px;
}
/* Appointments Component */

.appointments {
  padding: 50px;
  width: 100%;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.appointments .noAppoinments {
  width: 100%;
  text-align: center;
  padding: 200px;
}

.appointments h1 {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  font-size: 40px;
  margin-top: 20px;
  padding: 25px 34px;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.appointments .saButton {
  cursor: pointer;
  margin: 30px 0px 30px 0px;
  border: none;
  font-size: 24px;
  font-weight: 700;
  padding: 15px 45px;
  border-radius: 30px;
  background-color: white;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.appointments .saButton:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.table {
  overflow: auto;
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.table::-webkit-scrollbar {
  display: none;
}

table {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
  background-image: linear-gradient(to Right, rgb(22, 22, 22) 50%, rgba(95, 95, 95, 0.363));
}

table th,
table td {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  color: white;
  font-size: 13px;
  vertical-align: middle;
}

table th {
  font-size: 15px;
}

table .head {
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(to Right, rgba(15, 15, 15, 0.807), rgba(135, 135, 135, 0.363) 85%);
}

.appointments .dlButton {
  display: flex;
  justify-content: center;
}

.appointments .dlButton button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

.appointments .dlButton button {
  font-weight: 500;
  transition: ease 150ms;
  font-size: 12px;
  border-radius: 50px;
  color: white;
  border: none;
  padding: 4px 20px;
  background-color: #ea232399;
}

.appointments .dlButton button:active,
.appointments .dlButton button:focus {
  outline: none;
}

.appointments .dlButton button:active {
  box-shadow: -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}

/* Schedule Appoinment Component */

.appointments form p {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin: 0px 0px 10px 0px;
}

.saContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.info {
  width: 200px;
  height: 200px;
  background-image: url(./Assets/Announcement.svg);
  background-repeat: no-repeat;
  background-size: 200px;
}

#infop {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
}

.appointments form {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 40px 54px;
}

form input {
  background-image: url(./Assets/calender.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 40px;
}

form select:first-child {
  background-image: url(./Assets/clock.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 35px;
}

form select {
  background-image: url(./Assets/location.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 35px;
}

form select,
form input {
  cursor: pointer;
  appearance: none;
  width: 500px;
  margin: 5px 0px;
  padding: 12px 12px 12px 0px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 24px;
  color: white;
  font-weight: 500;
  border-bottom: 1px solid black;
  transition: all 15000ms ease;
  line-height: 30px;
}

form select:focus,
form input:focus {
  outline: none;
}

form select option {
  color: black;
  border: 1px solid black;
}

form input::placeholder {
  color: rgb(255, 255, 255);
}

form .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  margin-bottom: 10px;
}

.saSubmit {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 24px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  width: 194px;
  height: 54px;
  margin-top: 30px;
  border-radius: 30px;
  filter: blur(0px);
  box-shadow: inset -2px -2px 10px 0px rgba(255, 255, 255, 0.52);
  box-shadow: inset 0px -2px 10px 0px rgba(0, 0, 0, 0.15);
}
